/* .main-anonymous-view {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/background-pattern.png');
    background-position: center;
}

.app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white ;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: transparent ;

} */
